//SCROLL
html{
    scroll-behavior: smooth;
}

.nav-link{
    color: white;
    transition: 1s;
}
.nav-link:hover{
    color: #6ab04c;
}

//TITULO

.titulo{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-image: url("https://unsplash.it/1920/1080?random"); 
    background-repeat: no-repeat;
    background-size: cover;
}
.titulo span{
    text-transform: uppercase;
    display: block;
}
.text1{
    color: rgba(106, 176, 76,0.9);
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 8px;
    margin-bottom: 20px;
    //background-color: white;
    position: relative;
    animation: text1 3s 1;
}
.text2{
    font-size: 30px;
    color: black;
    font-weight: 400;
    opacity: 1;
    animation: text2 3s 1;
    margin-top: 20px;
}
  
@keyframes text1 {
    0%{
        color: rgba(106, 176, 76,0.8);
        margin-bottom: -40px;
    }
    30%{
        letter-spacing: 25px;
        margin-bottom: -40px;
    }
    85%{
        letter-spacing: 8px;
        margin-bottom: -40px;    
    }
  }
  @keyframes text2 {
    0%{
        opacity: 1;
        margin-bottom: -60px;
    }
    30%{
        opacity: 0.5;
        letter-spacing: 25px;
        margin-bottom: -60px;
    }
    85%{
        opacity: 1;
        letter-spacing: 8px;
        margin-bottom: -60px;    
    }
  }


//CONTAINER

.hr{
    width: 175px;
	height: 1px;
	background-color: black;
	margin-bottom: 70px;
    border: none;
    align-items: center;
}

//SCROLL-TOP
.top{
    position: fixed;
    width: 46px;
    height: 46px;
    background: #6ab04c;
    bottom: 70px;
    right: 30px;
    text-decoration: none;
    line-height: 50px;
    color: white;
    font-size: 21px;
    text-align: center;
}
.top:hover{
  color: #f7ff56;
}

//IMG

img{
    height: 160px;
    width: 300px;
    object-fit:cover;
}
.img1{
    height: 112px;
}

//CARDS
.card1{
    cursor: pointer;
    width: 180px;
    height: 350px;
}
.front,.back{
    width: 100%;
    height: 100%;
    overflow: hidden;
    backface-visibility: hidden;
    position: absolute;
    transition: transform .6s linear;
    box-shadow: 2px 2px 3px;
}
.front img{
    height: 100%;
}
.front{
     transform: perspective(600px) rotateY(0deg);
}
.back{
    transform: perspective(600px) rotateY(180deg);
}
.back-content{
    //color: #2c3e50;
    color: black;
    width: 100%;
    font-size: 15px;
    text-align: center;
}
.card1:hover > .front{
    transform: perspective(600px) rotateY(-180deg);
}
.card1:hover > .back{
    transform: perspective(600px) rotateY(0deg);
}



@import "../../node_modules/bootstrap/scss/bootstrap.scss";